<head>
  <link rel="stylesheet" href="style.css">
</head>

<ul class="nav justify-content-center">
  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-desktop"></i>
    </span>
    <a class="nav-link active" href="/Desktop">Desktop</a>
  </li>

  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-laptop"></i>
    </span>
    <a class="nav-link active" href="/Laptop">Laptop</a>
  </li>

  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-tv"></i>
    </span>
    <a class="nav-link active" href="Tv">Tv</a>
  </li>

  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-mobile"></i>
    </span>
    <a class="nav-link active" href="/Mobile-Phones">Mobile phones</a>
  </li>

  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-tablet"></i>
    </span>
    <a class="nav-link active" href="/Tablet">Tablet</a>
  </li>

  <li class="nav-item1">
    <img width="64" height="64" src="https://www.flaticon.com/svg/static/icons/svg/617/617656.svg"
      alt="Smartwatch free icon" title="Smartwatch free icon" class="loaded">
    <a class="nav-link active" href="/Watch">Smart watch</a>
  </li>

  <li class="nav-item1">
    <span style="font-size: 40px;">
      <i class="fas fa-headphones"></i>
    </span>
    <a class="nav-link active" href="/Accessories">Accessories</a>
  </li>

</ul>