<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/Desktop">Desktop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Laptop">Laptop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Mobile-Phones">Mobile phones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Watch">Smart watch</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Accessories">Accessories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="Tv">Tv</a>
  </li>
</ul>