<head>
<link rel="stylesheet" href="style.css">
</head>

<body>

<footer>
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <ul class="credibility">
                        <img src="images/Yourtech.png" height="75" alt="mdb logo">
                        <li class="text">&copy; 2020 YourTech</li>
                        <li class="text">Privacy Policy</li>
                        <li class="text">Terms of Use</li>
                    </ul>
                    <p></p>

                </blockquote>
            </div>




            <ul class="payment-methods">
                <li class="text">Accepted payment methods</li>
                <span style="font-size: 30px;">
                    <i class="fab fa-cc-visa"></i>
                </span>
                <span style="font-size: 30px;">
                    <i class="fab fa-cc-apple-pay"></i>
                </span>
                <span style="font-size: 30px;">
                    <i class="fab fa-cc-paypal"></i>
                </span>
            </ul>
        </div>

    </div>
</footer>

</body>