<head>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<main>
  <nav class="navbar navbar-expand-md navbar-light">

    <a class="navbar-brand" href="/">
      <img src="images/yourtech.png" height="90" alt="mdb logo">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav11"
      aria-controls="basicExampleNav11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav11">

      <!-- Right -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a href="/" class="nav-link waves-effect">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>

        <button type="button" class="btn btn-">
          <li class="nav-item">
            <a href="/basket" class="nav-link waves-effect" style="line-height: 1px;">
              <data-toggle="modal" data-target="#cart">
                <i id="basket" class="fas fa-shopping-basket"></i>
                Basket
                (<span class="total-count"></span>)
            </a>
        </button>
        </li>

        {{#if loggedIn}}

        <li class="nav-item">
          <a href="/profile" class="nav-link waves-effect">
            <i class="fas fa-user"></i>
            Profile
          </a>
        </li>
          {{#if admin}}
        <li class="nav-item">
          <a href="/admin" class="nav-link waves-effect">
            <i class="fas fa-user-cog"></i>
            Admin
          </a>
        </li>
        {{/if}}
        
        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a class="nav-link waves-effect" href="/logout" type="button">
          <i class="fas fa-sign-out-alt"></i>
            Logout
            </a>
        </li>
        
        {{else}}
        <li class="nav-item">
          <a href="/login" class="nav-link waves-effect">
            <i class="fas fa-sign-in-alt"></i>
            Login
          </a>
        </li>
        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a href="/signup" type="button" class="nav-link waves-effect">
          <i class="fas fa-user-plus"></i>
          Signup
          </a>
        </li>
      
        {{/if}}
        
      </ul>

    </div>
    <!-- Links -->

  </nav>
  <!-- Navbar -->

  {{!-- <ul>
=======
</nav>

<!-- Navbar -->
    
    {{!-- <ul>
>>>>>>> fcae28876ac2b2c80a342339b5b8d86e168581c1
        
        <a href="/">Home</a>
        
    {{#if loggedIn}}
        <a href="/profile">Profile</a>
        <a href="/admin">Admin Page</a>
        <a href="/logout">logout</a>
        

    {{else}}
        <a href="/login">login</a>
        <a href="/signup">signup</a>
    {{/if}}
</ul> --}}

</main>


<!-- Navbar -->
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}