<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="style.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<!------ Include the above in your HEAD tag ---------->


<section class="jumbotron text-center">
    <div class="container">
        <h1>Basket</h1>

    </div>

</section>
<div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="navbar-nav m-auto">
        <li class="nav-item m-auto">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="category.html">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="product.html">Product</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
        </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                placeholder="Search...">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="cart.html">
            <i class="fa fa-shopping-cart"></i> Cart
            <span class="badge badge-light">3</span>
        </a>
    </form>
</div>
</div>


<table class="show-cart table">
    <div class="product">
        <div class="description">
</table>
<div>Total price: £<span class="total-cart"></span></div>
</div>
</div>
<button class="clear-cart btn btn-danger">Clear Cart</button>
<button type="button" class="btn btn-primary" id="checkout-button">Order now</button>
<div class="modal-footer">





    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51HlL8yI9F1gcHFZ4iFiaJ19HNXSFNM8b1sNqAq2hvObeOgNubnv8d4w5pimnImMJbYfqBxnYTh7Z3oxpRUQIldwM00qwbonWvm");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            let basketItems = document.getElementsByClassName("basketItems")
            let basketPrice = document.getElementsByClassName("basketPrice")
            let quantity = document.getElementsByClassName("item-count form-control")
           let arr = []

            for (item of basketItems) {
                //Name of products
               name = item.firstChild.textContent
               console.log(name)

            }

            for (item of basketPrice){
                price = item.firstChild.textContent
                console.log(price)

            }

            for (item of quantity){
                // Quanity of Products
                quantity = item.value
                console.log(quantity)
            }

              
               arr.push(
                    {
                        name,
                        price,
                        quantity
                    }
                )
            }
            

            
            fetch("/create-session", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                //body: JSON.stringify(arr)
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
                
        }); 

    </script>