<section class="jumbotron text-center">
    <div class="container">
        <h1>Shop</h1>
        <p class="lead text-muted">Best Deals on Tech from Phones to laptops, shop below to see the content.</p>
    </div>
    {{> categoryNav}}
</section>