.parent{
    background-color: rgb(206, 209, 208);
    display: flex;
    margin-bottom: 20px;
}

.container1 {
   margin-left: 10%;
   max-width: 50%;
}

.container2{
    
    max-width: 50%;
    
    margin-top: 0%;
}
.name{
    margin-left: 9%;
}
#iname{
    margin-left: 25%;
}

.email{
    margin-left: 40px;
}
#iemail{
    margin-left: 11.5%;
}
.password{
    margin-left: 40px;
}
#ipassword{
    margin-left: 19%;
    
}
.age{
    margin-left: 40px;
    
}
#iage{
    margin-left: 29%;
   
}
.pnumber{
    margin-left: 40px;
}
#ipnumber{
    margin-left: 40px;
}
#role{
    margin-left: 40px;
}
#role1{
    margin-left: 120px;
}
#submit{
    padding: 10px 32px;
    cursor: pointer;
    margin-left: 95%;
    margin-top: 3%;
    margin-bottom: 5%;
   
}
#button{
    padding: 10px 32px;
    cursor: pointer;
    margin-left: 100%;
    margin-top: 15%;
}

.productH1{
    margin-left: 50px;
}

.table-products{
    margin: 30px;
}
#category{
    margin-left: 75px;
   
}
    
    
