.total-cart {
    float: right;
}
#text{
    text-align: right;
} 
#total{
    text-align: right;
    padding-right: 80px;
    
}

.btn-clear-order{
    float: right;
    padding-top: 10px;
    padding-right: 50px;
}
