

/*-----for border----*/
.container{
   font-family:Roboto,sans-serif;
   background-image:url(https://image.shutterstock.com/image-vector/futuristic-clean-technology-concept-white-260nw-1114517270.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   
   height:60%;
   
   
   
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
  box-shadow: 2px 5px 5px 0px #eee;
    max-width: 1100px;
    padding-top: 10px;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 130px;
}
/*--- for label of first and last name---*/

.firstname{
    margin-left: 350px;
    font-family: sans-serif;
    font-size: 14px;
    color:  rgb(15, 15, 15);
    margin-top: 5px;
    margin-bottom: 50px;
}
#name{
    margin-top:5px;
    margin-right: 80px;
    margin-left: 60px;
}

     

/*---for heading-----*/
.heading{
    text-decoration:bold;
    text-align : center;
    font-size:30px;
    color: rgb(15, 15, 15);
    padding-top:10px;
    margin-bottom: 50px;
}
/*-------for email----------*/
 /*------label----*/
#email{
     margin-top: 5px;
     margin-right: 80px;
     margin-left: 60px;
}
/*-----------for Password--------*/
    /*-------label-----*/
.mail{
    margin-left: 350px;
    font-family: sans-serif;
    color:  rgb(15, 15, 15);
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 50px;
}
.pass{
    color: rgb(15, 15, 15);
    margin-top: 9px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 350px;
    margin-top: 9px;
    margin-bottom: 50px;
}
#password{
margin-top: 10px;
margin-right: 100px;
margin-left: 35px;

}
.Age{
    color: rgb(15, 15, 15);
    margin-top: 9px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 350px;
    margin-top: 9px;
    margin-bottom: 50px;
}
#age{
margin-top: 10px;
margin-right: 70px;
margin-left: 70px;

}
/*------------for phone Number--------*/
     /*----------label--------*/
     #phonenumber{
        margin-top: 10px;
        margin-right: 145px;
      
       
    }
    .phn{
        color: rgb(15, 15, 15);
        margin-top: 9px;
        font-size: 14px;
        font-family: sans-serif;
        margin-left: 350px;
        margin-top: 9px;
        margin-bottom: 50px;
    }	



/*------------For submit button---------*/
.sbutton{
    color:  rgb(15, 15, 15);
    font-size: 20px;
    border: 1px solid white;
    background-color: #080808;
    width: 40%;
    margin-left: 41%;
    margin-top: 10px;
    box-shadow: 0px 2px 2px 0px rgb(189, 186, 186);
        
  }
.btn.btn-warning:hover {
   box-shadow: 2px 1px 2px 3px #99ccff;
   background:#5900a6;
   color:#fff;
   transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
   
}	 	