.description {
    font-weight: bold;
}

.nav-item1 {
    margin-right: 100px;
}

.nav-item1 a {
    color: lightslategray;
}

.nav-item1 a:hover {
    padding-top: 10px;
    color: rgb(69, 77, 87);
}