.nav-item1 .tablet {
    background-color: rgb(209, 217, 226);
}

.nav-item1 .tv {
    background-color: rgb(209, 217, 226);
}

.nav-item1 .tvb {
    background-color: rgb(209, 217, 226);
    padding: 0 15px;
}

